*.pyc
*.so
*.egg-info
*.whl
/build/lib
/dist/
.DS_Store
.mypy_cache/
.pytype/
/docs/build
/docs/_autosummary
.idea
.vscode
/test/outputs/

# virtualenv/venv directories
/venv/
/bin/
/include/
/lib/
/share/
